<div class="col-sm-10 mx-auto">
    <div class="card mx-auto text-center w-100 h-100">
    <div class="notice"><%= notice %></div>
    <div class="alert error"><%= alert %></div>
    <h1 class="card-title"><%= t(:'About') %></h1>
    <p class="lead">
        <%= t(:'This is an educational Ruby on Rails project') %>, 
        <%= t(:'carried out on the course') %> 
        "<%= t(:'Internet Programming Languages') %>" 
        <%= t(:'by Anna Bushe, a student of the IU6-31B group') %>.
    </p>
    </div>
</div>